.stories {
  list-style-type: none;
  background-color: #FCF9F2;
  margin: 12px;
}

.title {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
}

.title:visited {
  color: #666666;
}

.story {
  border-bottom: 1px solid black;
  padding-bottom: 6px;
  margin: 9px 12px;
}
.story div {
  margin-top: 8px;
}
