.listTop {
  background-color: #F36900;
  padding: 18px 9px 0px 9px;
  padding-bottom: 6px;
  border-bottom: 3px solid black;
}

.searchTitle {
  display: inline;
  color: white;
  font-weight: normal;
  font-size: 1.8em;
  margin-right: 2em;
}

.searchInput {
  padding: 10px 16px;
  width: 45%;
}

.searchButton {
  padding: 12px;
}
