@import '~Styles/fonts.scss';
@import '~Styles/variables.scss';


.container {
  display: flex;
  height: 40px;

  border: 1px solid #DFE1E5;
  border-radius: 20px;
  background: #ffffff;

  margin-left: 12px;
}

.barContainer {
  position: relative;
  flex: 1;
  display: flex;
  padding: 7px 0;
}

.searchBar {
  flex: 1;
  display: flex;
}

.buttonBar {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: -7px 0;
}

.searchInput {
  flex: 1;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0 0 0 16px;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0,0,0,.87);
  border: none;
  word-wrap: break-word;
  background-color: transparent;
  outline: none;
}

.theXBox {
  position: absolute;
  right: 15px;
  top: 10px;

  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: -7px 0;
}

.theXButton {
  flex: 1;
  display: none;
  align-items: center;
  line-height: 25px;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.theX {
  margin-bottom: 4px;
  line-height: 25px;

  @include bold;
  font-size: 2.3em;

  cursor: pointer;
}

.searchButton {
  flex: 0 0 auto;
  display: flex;
  margin: -1px;
  padding: 7.5px 8px;
  border: 1px solid black;
  border-radius: 0 20px 20px 0;
  background-color: black;
  outline: none;
  cursor: pointer;
}

@media only screen and (min-width : 376px) {
  .container {
    margin-left: auto;
  }
}

@media only screen and (min-width : 505px) {
  .container {
    width: 100%;
    margin-left: 60px;
  }
}
