@import '~Styles/fonts.scss';


.title {
  @include bold;
  font-size: 18px;
}

.url {
  @include boldItalic;
  font-size: 13px;
}

.score {
  @include roman;
  font-size: 13px;
}

.id {
  @include black;
  font-size: 16px;
}

.footer {
  display: flex;
  flex-flow: row nowrap;

}
