/* COLOR PALETTE */
$white: #ffffff;
$black: #000000;
$off-white: #E0E0E0;
$grayish: #979797;
$light-gray: #E6E6E6;


/* FONT */
$blue: #0b69af;
$black-blue: #003d80;
$medium-blue: #99BFDC;
$light-blue: #a4cfef;


/* ASIDE */
$grayLine: #dedede;
