.mainGridLayout {
  display: grid;
  grid-template-columns: auto [main] minmax(auto, 700px) auto;
  grid-template-rows: [header] auto 30px [content] auto;
}

.headerGrid {
  grid-column: main;
  grid-row: header;
}

.navGrid {
  grid-column: main;
  grid-row: 2;
}

 .contentGrid {
  grid-column: main;
  grid-row: content;
  padding-bottom: 3.0em;
}
